main {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
}

h2 {
  margin-block-end: 0;
}
button.projectButton {
  font-size: medium;
  border: 1px solid #525252a8;
  border-radius: 8px;
  box-shadow: 0 2px 2px #41414141;
  padding: 9px 11px;
}
.container {
  text-align: left;
  display: grid;
  grid-template-rows: 1fr;
  height: fit-content;
  block-size: fit-content;
  margin: 120px 300px;
}

@media (max-width: 600px) {
  .container {
    margin: 0 20px;
    padding: 50px 20px;
  }
}
