.menu {
  border: 8px;
  all: revert;
  display: grid;
  /* flex-flow: column nowrap; */
  grid-template-rows: 1 1fr;
  grid-template-columns: 1 1fr;
  align-items: center;
  justify-content: left;
  position: fixed;
  /* transform: ${({ open }) => (open ? "translateX(0)" : "translate(100%)")}; */
  top: 0;
  right: 0;
  height: 100vh;
  width: 20vw;
  padding: 40px;
  /* transition: transform 0.3s ease-in-out; */
  transition: all ease-in-out 0.3s;
  z-index: -1;
}

.menu ul {
  display: grid;
  justify-items: left;
  align-content: left;
  justify-content: left;
  align-items: left;
  list-style: none;
}
.menu ul li {
  padding: 18px 10px;
  /* color: #fff; */
  text-align: left;
}
.menu ul li a {
  transition: 0.2s;
  text-align: left;
}
.menu ul li a:hover {
  letter-spacing: 1px;
  transition: 0.2s;
}

/* @media (max-width: 768px) {
  width: 35vw;
  padding-left: 20px;
} */
