.content {
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
}

.content h1 {
    text-align: center;
}
.meta {

}
p.featured {
    text-align: center;
    align-content: center;
    align-items: center;
    
}
.body {

}