.returnLink {
  margin-top: 20px;
}
.content {
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
}
.content h1 {
  /* text-align: center; */
}
.content a {
  text-decoration: underline;
  color: rgb(38, 103, 224);
}
.content img {
  max-width: 100%;
}
section {
  margin-top: 10px;
}
.articleMetadata {
  display: flex;
}
.articleMetadata > div {
  width: 50%;
  flex-direction: row;
}
.tagsWrapper {
  display: inline-block;
  justify-content: flex-end;
  text-align: right;
}
.tag {
  display: inline-block;
  margin: 2px;
  padding: 0px 4px;
}
.featured {
  text-align: center;
  align-content: center;
  align-items: center;
}
.body {
  text-align: inherit;
}

.content .body code {
  background: #3d3d3d;
  color: #b8c4bb;
  padding: 2px 5px;
  border-radius: 0.5px;
  /* word-wrap: break-word; */
}
.content .body pre code {
  display: block;
  overflow-x: scroll;
  scrollbar-width: thin;
}
code::-webkit-scrollbar {
  height: 5px;
}
code::-webkit-scrollbar-track {
  background-color: #878b88;
}
code::-webkit-scrollbar-thumb {
  background-color: #b2a600; /* color of the scroll thumb */
  border-radius: 20px;
  border: 1px solid #878b88;
}

@media (max-width: 600px) {
  .content {
    width: 100vw;
    margin: 0;
  }
  .content section,
  h1 {
    padding: 10px;
  }
  .content .featured {
    padding: 0;
  }
  .content .body ul,
  ol {
    padding-inline-start: 30px;
  }

  .content .body {
    max-width: 100vw;
    word-wrap: break-word;
  }
}
