.content {
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
}

.content h1 {
    text-align: center;
}
.meta {
    text-decoration: none;
}
p.featured {
    text-align: center;
    align-content: center;
    align-items: center;

}
.body {
    text-align: inherit;
}

@media (max-width: 600px) {
    .content {
        margin: 0;
    }
    .content ul {
        padding-inline-start: 20px;
    }
}
