@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  @apply justify-center items-center;
}

.input {
  @apply bg-transparent border dark:border-gray-300 border-primary-light rounded-md shadow-sm w-full p-2;
}

.secondary-link {
  @apply text-inherit hover:text-primary-dark text-text-dark cursor-pointer bezier-color;
}

.bezier-color {
  @apply transition-[color_0.2s_cubic-bezier(0.65_0.05_0.36_1)];
}

.bezier-all {
  @apply transition-[all_0.2s_cubic-bezier(0.65_0.05_0.36_1)];
}

.social-icon {
  @apply w-6 h-6 m-0 p-0 flex justify-center items-center;
}

.social-icon>a {
  @apply m-0 p-0;

}

.next-logo>svg {
  @apply dark:fill-secondary-dark fill-accent-light;
}

.social-icon>a>svg {
  @apply h-6 w-6 relative top-0 dark:fill-secondary-dark fill-accent-light;
}

.social-icon>a>svg:hover {
  @apply dark:fill-primary-dark fill-primary-light -top-1 transition-all duration-300 ease-in-out;
}


/* .animation-delay-300 {
  animation-delay: 0.3s;
} */

/* .animate-fade-in-down {
  animation-name: fade-in-down;
  animation-duration: 0.9s;
} */